<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senku.netflix_clone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netflix_clone">
        <activity android:name=".Activities.StepThree"></activity>
        <activity android:name=".Activities.StepTwo" />
        <activity android:name=".Activities.FinishUpAccount" />
        <activity android:name=".Activities.ChooseYourPlan" />
        <activity android:name=".Activities.StepOne" />
        <activity android:name=".MainScreens.MainScreen" />
        <activity android:name=".Activities.SwipeScreen" />
        <activity android:name=".Activities.SigninActivity" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>